/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~ol/ol.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.ol-zoom {
  top: unset;
  bottom: 40px;
  left: unset;
  right: 7px;
}