src/node_modules/**/*
src/.expo/*
src/npm-debug.*
src/*.jks
src/*.p8
src/*.p12
src/*.key
src/*.mobileprovision
src/*.orig.*
src/web-build/
src/*.lock
src/package-lock.json
.fdignore
src/.eslintrc.json
# macOS
.DS_Store
